<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High Scores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="./static/images/MyLogo.png" alt="Logo" style="width:60px;height:60px;">
        <img src="./static/images/programming.gif" alt="Logo" class="logo">
    </header>
    <div class="container">
        <h1>High Scores</h1>
        <ul>
            {% for score in scores %}
            <li>{{ score['player_name'] }} - {{ score['score'] }} attempts left</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Back to Game</a>
    </div>
</body>
</html>
